<div class="header">

	<!-- Background -->
	<div class="background">

		<!-- Overlay -->
		<div class="overlay">

			<!-- Utils -->
			<div class="col-md-12">
				<div class="menu aligner">
					<ul>
						<li>
							<a ngx-scroll-to="#running">Execução</a>
						</li>
						<li>
							<a ngx-scroll-to="#test">Teste</a>
						</li>
						<li>
							<a ngx-scroll-to="#about">Sobre</a>
						</li>
						<li>
							<a href="https://github.com/beerbeard" target="_blank">GitHub</a>
						</li>
					</ul>
				</div>
			</div>

			<!-- Featured -->
			<div class="col-md-12">
				<div class="featured aligner">
					<h1>Perceptron</h1>
					<label>implementação genérica do perceptron</label>
				</div>
			</div>
		</div>
	</div>
</div>